.containercustom .card{
    background-color: rgb(231, 47, 77);
    width: 300px;
    height: 900px;
    margin: -110px;
    overflow: hidden;
    border: none;
    box-sizing: border-box;
    color: white;
    justify-content: center;
    align-items: center;
}
.containercustom .card .card-body{
    padding-top: 120px;
}
.containercustom .card .btn{
    background-color: white;
    
}
.card img {
  padding-top: 30px;
  height: 10vh;
  width: auto;
  }
