
.navbar-nav .nav-link {
    color: #000;
    transition: color 0.3s ease-in-out;
    font-size: larger;
    margin-right: 50px;
    font-style: inherit;
  }
  

  .navbar-nav .nav-link:hover {
    color: #f00;
    text-decoration-line: underline;
  }

  .navbar-toggler-icon:hover {
    background-color: rgb(210, 86, 107);
  }

  .login-btn {
    background-color: transparent;
    border: 1px solid palevioletred;
    transition: background-color 0.3s ease-in-out;
    font-size:larger;
  }
  
  .login-btn:hover {
    background-color: rgb(210, 86, 107);
    border-color: rgb(221, 25, 58);
    color: white;
  }
  
  .nav-link.navedit {
    color: #000;
    transition: color 0.3s ease-in-out;
  }
  
  .nav-link.navedit:hover {
    color: #f00;
  }
  